
header{
    display: grid;
    grid-template-columns: 200px 120px;
    column-gap: 20px;
    justify-content: space-between;
}

#logo{
    margin: 0.5rem;
}

.logos{
    filter: invert();
}
.logos:hover{
    cursor: pointer;
}

.cartButtons{
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-cart{
    background-color: #fff;
    position: fixed;
    right: 100%;
    right: 0;
    width: 400px;
    height: 400px;
    /* transition-delay: 2s; */
}

.dropdown-login{
    position: fixed;
    right: 100%;
    right: 0;
    margin-right: 53px;
    width: 300px;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {

    #logo {
        height: 22px;
    }

    .logos{
        height: 45px;
    }
  }

  @media screen and (max-width: 490px) {

    .logos{
        height: 40px;
    }

      header{
        display: grid;
        grid-template-columns: 200px 100px;
        column-gap: 20px;
    }

        #logo{
        margin: 0.4rem;
        display: grid;
        justify-self: center;
    }

    .cartButtons{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
  }

  @media screen and (max-width: 325px) {

    .logos{
        height: 38px;
    }
}