
header{
    display: grid;
    grid-template-columns: 200px 120px;
    column-gap: 20px;
    justify-content: space-between;
}

#logo{
    margin: 0.5rem;
}

.logos{
    filter: invert();
}
.logos:hover{
    cursor: pointer;
}

img{
    border-radius: 5px;
}

h2{
    margin: 0;
}

.cartButtons{
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-cart{
    background-color: #eeeeee;
    border: solid 6px #3e0daf;
    border-radius: 5px;
    position: fixed;
    right: 100%;
    right: 0;
    min-width: 600px;
    min-height: 500px;
    /* transition: background-color 2s; */
}

.cart-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: solid 1px #3e0daf;
    background-color: #fff;
    border-radius: 5px;
    margin: 1em;
}

.btn{
    margin: 0 0.5em;
    font-size: 1.8rem;
    font-weight: 800;
}

.btn:hover{
    cursor: pointer;
}

.deleteBTN{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
}

.deleteBTN:hover{
    cursor: pointer;
}

.p{
    padding: 0.3rem;
}

#quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-login{
    position: fixed;
    right: 100%;
    right: 0;
    margin-right: 53px;
    width: 300px;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {

    #logo {
        height: 22px;
    }

    .logos{
        height: 45px;
    }
  }

  @media screen and (max-width: 490px) {

    .logos{
        height: 40px;
    }

      header{
        display: grid;
        grid-template-columns: 200px 100px;
        column-gap: 20px;
    }

        #logo{
        margin: 0.4rem;
        display: grid;
        justify-self: center;
    }

    .cartButtons{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
  }

  @media screen and (max-width: 325px) {

    .logos{
        height: 38px;
    }
}